*{
	margin: 0;
	padding: 0;
	list-style: none;
	background-repeat: no-repeat;
	background-position: center;
}
.loadImg{
	display: none;
}
body{
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	position: absolute;
	overflow: hidden;
}
.content{
	width: 100%;
	height: 100%;
}
ul{
	width: 100%;
	height: 100%;
}
li{
	display: inline-block;
}
.item{
	width: 219px;
	height: 250px;
	background-position: center top;
	position: absolute;
}
/*******************默认图标样式*******************/
.item:nth-child(1){
	background-image: url(../img/img01.png);
	left: 27px;
	top: 80px;
}
.item:nth-child(2){
	background-image: url(../img/img02.png);
	left: 136px;
	top: 245px;
}
.item:nth-child(3){
	background-image: url(../img/img03.png);
	left: 239px;
	top: 74px;
}
.item:nth-child(4){
	background-image: url(../img/img04.png);
	left: 824px;
	top: 92px;
}
.item:nth-child(5){
	background-image: url(../img/img05.png);
	left: 938px;
	top: 269px;
}
.item:nth-child(6){
	background-image: url(../img/img06.png);
	left: 1072px;
	top: 114px;
}
/*******************选中背景样式*******************/
.active_1{
	background-image: url(../img/bg1.jpg);
}.active_2{
	background-image: url(../img/bg2.jpg);
}.active_3{
	background-image: url(../img/bg3.jpg);
}.active_4{
	background-image: url(../img/bg4.jpg);
}.active_5{
	background-image: url(../img/bg5.jpg);
}.active_6{
	background-image: url(../img/bg6.jpg);
}
/*******************选中焦点图标样式*******************/
.active_1 > .item:nth-child(1){
	background-image: url(../img/img01-h.png);
	left: 24px;
	top: 82px;
}
.active_2 > .item:nth-child(2){
	background-image: url(../img/img02-h.png);
	left: 131px;
	top: 247px;
}
.active_3 > .item:nth-child(3){
	background-image: url(../img/img03-h.png);
	left: 237px;
	top: 75px;
}
.active_4 > .item:nth-child(4){
	background-image: url(../img/img04-h.png);
	left: 820px;
	top: 103px;
}
.active_5 > .item:nth-child(5){
	background-image: url(../img/img05-h.png);
	left: 935px;
	top: 271px;
}
.active_6 > .item:nth-child(6){
	background-image: url(../img/img06-h.png);
	left: 1068px;
	top: 115px;
}