*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
	color: #fff;
	list-style: none;
}
body{
	width: 1280px;
	height: 720px;
	overflow: hidden;
}
.content{
	width: 1280px;
	height: 720px;
	background: url("../img/bg.jpg") center no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
ul{
	white-space: nowrap;
}
li{
	display: inline-block;
	width: 209px;
	height: 250px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
}
li + li{
	margin-left: 4px;
}
li > img{
	width: 186px;
	height: 183px;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	position: absolute;
	left: 11px;
	top: 7px;
}
li:nth-child(2n - 1) > img{
	background-image: url(../img/bg04.png);
	background-size: 100%;
}
li:nth-child(2n) > img{
	background-image: url(../img/bg05.png);
	background-size: 100%;
}
li > div{
	width: 100%;
	height: 100%;
	background-image: url(../img/bg02.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}
li > span{
	display: inline-block;
	box-sizing: border-box;
	padding: 0 20px 0 0;
	width: 185px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	text-align: right;
	background-image: url(../img/bg03.png);
	background-size: 100%;
	position: absolute;
	right: 11px;
	top: 153px;
}
li > p{
	box-sizing: border-box;
	padding: 0 30px;
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 20px;
	position: absolute;
	left: 0;
	top: 190px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.currentChooseAward > img{
	width: 208px;
	height: 202px;
	left: 3px;
	top: -2px;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
}
.currentChooseAward > div{
	width: 243px;
	height: 285px;
	background-image: url(../img/bg02-h.png);
	background-size: 100%;
	position: relative;
	left: -17px;
	top: -17px;
}
.currentChooseAward > span{
	width: 205px;
	height: 40px;
	right: -2px;
	top: 160px;
	font-size: 18px;
	line-height: 40px;
}
.currentChooseAward > p{
	/*transform: scale(1.08);*/
	font-size: 22px;
	left: 0;
	top: 200px;
}
.list{
	width: 1250px;
	height: 546px;
	overflow: hidden;
	position: absolute;
	left: 29px;
	top: 81px;
}
.listUpper{
	position: absolute;
	left: 10px;
	top: 26px;
}
.listLower{
	position: absolute;
	left: 10px;
	top: 280px;
}
.rightSide{
	display: none;
	width: 133px;
	height: 492px;
	background: linear-gradient(to right,transparent, rgba(0,0,0,.8) 90%);
	position: absolute;
	right: 0;
	top: 110px;
}
.footLeft{
	display: block;
	height: 35px;
	position: absolute;
	left: 38px;
	bottom: 40px;
}
.footLeft > *{
	float: left;
}
.footLeft > img{
	position: relative;
	top: -6px;
}
.footLeft > i{
	width: 166px;
	height: 65px;
	display: inline-block;
	position: relative;
	top: -13px;
}
.footLeft > i > div{
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.extractCards > div{
	background-image: url(../img/but01_v2.png);
	background-size: 100%;
}
.regCards > div{
	background-image: url(../img/but02_v2.png);
	background-size: 100%;
}
.regCards > i,
.extractCards > i{
	display: none;
	width: 36px;
	height: 36px;
	background-image: url(../img/dian.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	right: 4px;
	top: -12px;
}
.regCards-h > i,
.extractCards-h > i{
	width: 50px;
	height: 50px;
	background-image: url(../img/dian.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	right: -32px;
	top: 0px;
}
.footLeft > .extractCards-h,
.footLeft > .regCards-h{
	z-index: 1;
	left: -22px;
	top: -36px;
}
.footLeft > .extractCards-h > div{
	width: 211px;
	height: 102px;
	background-image: url(../img/but01-h_v2.png);
	background-size: 100%;
}
.footLeft > .regCards-h > div{
	width: 211px;
	height: 102px;
	background-image: url(../img/but02-h_v2.png);
	background-size: 100%;
}
.footRight{
	display: block;
	height: 48px;
	position: absolute;
	right: 40px;
	bottom: 37px;
}
.footRight > *{
	float: left;
}
.footRight > i{
	width: 156px;
	height: 48px;
	display: inline-block;
	position: relative;
}
.footRight > i + i{
	margin-left: 15px;
}
.footRight > i > div{
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.awardsLog > div{
	background-image: url(../img/but05.png);
	background-size: 100%;
}
.awardsExplain > div{
	background-image: url(../img/but04.png);
	background-size: 100%;
}
.footRight > .awardsLog-h,
.footRight > .awardsExplain-h{
	left: -19px;
	top: -19px;
	z-index: 1;
}
.footRight > .awardsLog-h > div{
	width: 195px;
	height: 87px;
	background-image: url(../img/but05-h.png);
	background-size: 100%;
}
.footRight > .awardsExplain-h > div{
	width: 195px;
	height: 87px;
	background-image: url(../img/but04-h.png);
	background-size: 100%;
}




.tipsWin{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.tipsWin *{
	z-index: 1;
}
.tipsWin > div{
	display: none;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}

/******************************************************************************/
/*兑换窗口样式*/
.exchangeWin{
	background-image: url(../img/tcbg01.png);
	background-size: 686px 554px;
	background-position: center 34px;
}
.exchangeWin{
	font-size: 0;
}
.exchangeAward{
	width: 100%;
	text-align: center;
	margin: 124px 0 0 0;
}
.useCards{
	height: 173px;
	margin: 20px 0 0 0;
	text-align: center;

}
.useCards > div{
	height: 100%;
	display: inline-block;
}
.cardItem{
	width: 108px;
	height: 100%;
	background-size: 100%;
	background-image: url(../img/border-e.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	position: relative;
}
.cardItem > div{
	width: 99px;
	height: 134px;
	border-radius: 13px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 99px 134px;
	position: absolute;
	left: 5px;
	top: 4px;
	overflow: hidden;
}
.cardItem > div > span{
	display: inline-block;
	box-sizing: border-box;
	padding: 0 5px;
	width: 100%;
	height: 26px;
	line-height: 26px;
	font-size: 16px;
	background-color: rgba(0,0,0,.7);
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
}
.cardItem > p{
	min-width: 108px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	border-radius: 6px;
	background-color: rgba(0,0,0,.4);
	position: absolute;
	bottom: 0;
}
.cardItem > p > span{
	color: #fc4e4f;
}
.useCards > i{
	display: inline-block;
	width: 37px;
	height: 88px;
	vertical-align: top;
	background-image: url(../img/icon01.png);
	background-size: 27px 26px;
	background-repeat: no-repeat;
	background-position: bottom;
}
.exchangeBtn{
	width: 206px;
	height: 92px;
	margin: 30px auto 0;
	background-image: url(../img/butdh-h.png);
	background-size: cover;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
}
.toDrawBtn,
.toRegBtn{
	width: 166px;
	height: 65px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 614px;
}
.toDrawBtn{
	left: 366px;
	background-image: url(../img/but07.png);
}
.toRegBtn{
	right: 366px;
	background-image: url(../img/but06.png);
}
.toDrawBtn-h{
	width: 210px;
	height: 102px;
	left: 344px;
	top: 594px;
	background-image: url(../img/but07-h.png);
}
.toRegBtn-h{
	width: 210px;
	height: 102px;
	right: 344px;
	top: 594px;
	background-image: url(../img/but06-h.png);
}
.exchangeBtn-e{
	background-image: url(../img/butdh.png);
}
.exchangeBtn-qs{
	background-image: url(../img/butdh-qs.png);
}
/******************************************************************************/
/*兑换成功样式*/
.successWin{
	background-image: url(../img/tcbg-02.png);
	background-size: 562px 336px;
	background-position: center 122px;
}
.successWin > div{
	display: block;
	flex-grow: row;
	justify-content: center;
}
.ewmWrap{
	width: 100%;
	height: 132px;
	margin: 272px 406px 0;
	text-align: center;
	position: relative;
}
.ewmWrap > *{
	float: left;
}
.ewm{
	width: 132px;
	height: 132px;
	background-image: url(../img/erm-bg1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.ewm > img{
	width: 99px;
	height: 100px;
	display: inline-block;
	line-height: 120px;
	position: absolute;
	left: 15px;
	top: 12px;
}
.tipsText > p{
	width: 333px;
	line-height: 1.6;
	margin: 0 0 0 20px;
	font-size: 26px;
	text-align: top;
	text-align: left;
}
.tipsText > p + p{
	font-size: 16px;
	margin-top: 9px;
}
.enterBtn{
	width: 206px;
	height: 92px;
	margin: 61px auto 0;
	background-image: url(../img/butqd-h.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
/******************************************************************************/
/*兑换说明样式*/
.explainWin{
	background-image: url(../img/tcbg04.png);
	background-size: 662px 468px;
	background-position: center 56px;
}
.explainText{
	width: 9.00rem;
	height: 4.85rem;
	margin: 2.96rem auto 0;
	position: relative;
}
.explainText > p{
	line-height: 1.68;
	font-size: .26rem;
}
.explainText > .ewm{
	position: absolute;
	right: -.17rem;
	bottom: 0;
}
.ewm > span{
	box-sizing: border-box;
	display: inline-block;
	width: 110px;
	height: .95rem;
	padding: .12rem .20rem 0;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	border-top-left-radius: .10rem;
	border-bottom-left-radius: .10rem;
	position: absolute;
	top: .50rem;
	left: -1.60rem;
	background-color: rgba(0,0,0,.2);
}
.explainWin > .enterBtn{
	margin: .08rem auto 0;
}
/******************************************************************************/
/*兑换记录样式*/
.logWin{
	background-image: url(../img/tcbg05.png);
	background-size: 662px 468px;
	background-position: center 56px;
}
.logText{
	width: 549px;
	height: 310px;
	margin: 178px auto 0;
	font-size: 20px;
	overflow: hidden;
}
.logText > p{
	margin: 9px 0 0 0;
}
.logText > p > span{
	display: inline-block;
	vertical-align: top;
}
.logText > p > span:first-child{
	width: 126px;
}
.logText > p > span:nth-child(2){
	width: 117px;
}
.logText > p > span:nth-child(3){
	width: 305px;
}
.logWin > .enterBtn{
	margin: 36px auto 0;
}
/******************************************************************************/
/*奖品数量不足*/
.awardsEmpty{
	background-image: url(../img/tc03.png);
	background-size: 478px 284px;
	background-position: center 176px;
}













