*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
	color: #fff;
	list-style: none;
}
body{
	width: 1280px;
	height: 720px;
	overflow: hidden;
}
.content{
	width: 1280px;
	height: 720px;
	background-image: url(../img/bg2.jpg);
	background-size: 1280px 720px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.onloadImg{
	/*background-image: url(../img/title.png);*/
	/*background-image: url(../img/ewm.jpg);*/
	/*background-size: 100%;*/
}



.lowerBg{
	width: 1280px;
	height: 117px;
	background-image: url(../img/bgd.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top;
	position: absolute;
	left: 0;
	bottom: 0;
}
.countBox{
	width: 306px;
	height: 74px;
	background-image: url(../img/sycs_v2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 158px;
	top: 397px;
}
.countBox > span{
	font-size: 22px;
	color: #b35300;
	font-weight: bold;
	letter-spacing: 3px;
	position: absolute;
	right: 82px;
	top: 18px;
	text-shadow: 0 3px 0 #fff8af;
}
.timeBox{
	width: 438px;
	height: 114px;
	background-image: url(../img/time.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 76px;
	top: 588px;
}
.timeBox > span{
	font-size: 20px;
	color: #ffd530;
	font-weight: bold;
	letter-spacing: 3px;
	position: absolute;
	right: 50px;
	top: 41px;
	text-shadow: -2px 3px 2px #083465;
}
.btn{
	position: relative;
}
.btn > div{
	width: 100%;
	height: 100%;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: bottom;
	position: absolute;
}
.drawBtn{
	width: 289px;
	height: 100px;
	left: 163px;
	top: 478px;
}
.drawBtn > div{
	background-image: url(../img/butlq_v2.png);
	background-size: 100%;
}
.drawBtn > i{
	display: none;
	width: 60px;
	height: 60px;
	background-position: center;
	background-image: url(../img/dian1.png);
	background-size: contain;
	position: absolute;
	right: 0px;
	top: -16px;
}
.drawBtn-h > div{
	width: 345px;
	height: 158px;
	background-image: url(../img/butlq_h_v2.png);
	background-size: 100%;
	left: -28px;
	top: -25px;
}
.drawBtn-h > i{
	right: 2px;
	top: -14px;
}
.lowerBtn{
	display: block;
	width: 666px;
	height: 146px;
	position: absolute;
	right: 0;
	bottom: -15px;
}
.lowerBtn > li{
	display: inline-block;
	width: 141px;
	height: 128px;
}
.lowerBtn > li + li{
	margin-left: 20px;
}
.explain > div{
	background-image: url(../img/but01.png);
	background-size: 100%;
}
.exhcangeExplain > div{
	background-image: url(../img/but02.png);
	background-size: 100%;
}
.myCard > div{
	background-image: url(../img/but03.png);
	background-size: 100%;
}
.myAward > div{
	background-image: url(../img/but04.png);
	background-size: 100%;
}
.explain-h > div{
	width: 176px;
	height: 150px;
	background-image: url(../img/but01_h.png);
	background-size: 100%;
	left: -17px;
	bottom: -5px;
}
.exhcangeExplain-h > div{
	width: 176px;
	height: 150px;
	background-image: url(../img/but02_h.png);
	background-size: 100%;
	left: -17px;
	bottom: -5px;
}
.myCard-h > div{
	width: 176px;
	height: 150px;
	background-image: url(../img/but03_h.png);
	background-size: 100%;
	left: -17px;
	bottom: -5px;
}
.myAward-h > div{
	width: 176px;
	height: 150px;
	background-image: url(../img/but04_h.png);
	background-size: 100%;
	left: -17px;
	bottom: -5px;
}
.awardList{
	width: 548px;
	height: 578px;
	position: absolute;
	right: 108px;
	top: -57px;
}
.awardItem{
	width: 243px;
	height: 166px;
	margin: 0 15px;
	float: left;
	font-size: 20px;
	line-height: 20px;
	text-shadow: -2px 2px 0 #000;
}
.awardItem > img{
	width: 200px;
	height: 166px;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	position: absolute;
	left: 178px;
	bottom: 133px;
}
.awardItem + .awardItem > img{
	width: 143px;
	height: 108px;
	position: absolute;
	left: 50px;
	bottom: 52px;
}
.awardItem > span{
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	height: 24px;
	padding: 0 20px;
	text-align: center;
	position: absolute;
	bottom: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.awardItem:first-child{
	width: 548px;
	height: 304px;
	background-image: url(../img/bgdj.png);
	background-size: 548px 304px;
	position: relative;
	left: -30px;
	top: 73px;
	font-size: 22px;
	line-height: 22px;
}
.awardItem:first-child > span{
	height: 25px;
	padding: 0 108px;
	bottom: 93px;
}
.awardItem:first-child > div{
	width: 404px;
	height: 249px;
	background-image: url(../img/default.png);
	background-size: 100%;
}
.awardItem-h:first-child > div{
	width: 404px;
	height: 249px;
	background-image: url(../img/bg01_h.png);
	background-size: 100%;
	left: 78px;
	bottom: 55px;
}

.awardItem > div{
	width: 258px;
	height: 170px;
	background-image: url(../img/bg02.png);
	background-size: 100%;
	left: -5px;
	bottom: -1px;
}
.awardItem-h > div{
	width: 298px;
	height: 200px;
	background-image: url(../img/bg02_h.png);
	background-size: 100%;
	left: -28px;
	bottom: -27px;
}

.tipsWin{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.tipsWin *{
	z-index: 1;
}
.tipsWin > div{
	display: block;
	display: none;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}
.tipsWin > div > *{
	background-repeat: no-repeat;
}
/******************************************************************************/
/*奖品详情（兑换）窗口样式*/
.exchangeWin{
	background-image: url(../img/bg_success.png);
	background-size: 100%;
	background-position: center;
}
.exchangeWin > .awardShowBox{
	width: 100%;
	height: 304px;
	background-image: url(../img/bg_box.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	position: relative;
	overflow: hidden;
}
.awardShowBox > div{
	width: 293px;
	text-align: center;
	position: absolute;
	left: 498px;
	bottom: 58px;
}
.awardShowBox > div > img{
	max-width: 100%;
	height: 200px;
}
.awardShowBox > span{
	width: 226px;
	padding-left: 73px;
	display: block;
	font-size: 22px;
	margin: 253px auto 0;
	position: relative;
	text-shadow: -2px 2px 2px #000;
}
.needCards{
	height: 246px;
	margin-top: 22px;
	text-align: center;
}
.needCards > li{
	display: inline-block;
	position: relative;
}
.needCards > li + li{
	margin-left: 48px;
}
.needCards > li > div{
	width: 160px;
	height: 208px;
	margin: 0 auto;
	background-image: url(../img/card.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.needCards > li > div > img{
	width: 136px;
	height: 186px;
	border-radius: 8px;
	position: absolute;
	left: 16px;
	top: 7px;
}
.needCards > li > div > span{
	width: 136px;
	height: 33px;
	line-height: 30px;
	display: inline-block;
	font-size: 18px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	left: 16px;
	bottom: 15px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.needCards > li > span{
	box-sizing: border-box;
	display: inline-block;
	width: 218px;
	height: 52px;
	line-height: 48px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-shadow: -2px 2px 2px #000;
	background-image: url(../img/box.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	top: -18px;
	left: 2px;
}
.needCards > li + li > i{
	display: inline-block;
	width: 55px;
	height: 73px;
	background-image: url(../img/plus.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: -53px;
	top: 70px;
}
.exchangeWin > .enterBtn{
	width: 100%;
	height: 140px;
	background-image: url(../img/but_e_h.png);
	background-size: 294px 140px;
	background-position: center;
}
.exchangeWin > .enterBtn-e{
	background-image: url(../img/but_e_g.png);
	background-size: 238px 82px;
}
/******************************************************************************/
/*兑换成功窗口样式*/
.successWin{
	background-image: url(../img/bg_success.png);
	background-size: 100%;
	background-position: center;
}
.successWin > .exchangeBox{
	width: 660px;
	height: 411px;
	background-image: url(../img/bg_huang.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 305px;
	top: 145px;
}
.exchangeBox p,
.exchangeBox span{
	color: #682700;
	text-align: center;
}
.exchangeBox > p{
	width: 375px;
	margin-left: 136px;
	margin-top: 112px;
	font-size: 32px;
	font-weight: bold;
	text-shadow: 0 2px 2px #fef89a;
}
.exchangeBox > span{
	width: 345px;
	display: block;
	margin-left: 138px;
	margin-top: 100px;
	font-size: 22px;
}
.exchangeBox > .ewm{
	margin-top: 24px;
	margin-left: 164px;
}
.ewm{
	width: 361px;
	height: 93px;
	display: block;
	text-align: center;
}
.ewm > i{
	display: inline-block;
	width: 93px;
	height: 93px;
	background-image: url(../img/ewm.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	float: left;
}
.ewm > span{
	display: inline-block;
	width: 258px;
	height: 93px;
	margin-left: 10px;
	line-height: 93px;
	color: #682700;
	font-size: 20px;
	text-align: left;
	float: left;
}
.successWin > .exchangeLogo{
	width: 100%;
	height: 280px;
	background-image: url(../img/dhcg.png);
	background-size: 540px;
	background-position: 357px 3px;
}
.successWin > .enterBtn{
	width: 100%;
	height: 140px;
	margin-top: 273px;
	background-image: url(../img/but_h.png);
	background-size: 294px 140px;
	background-position: center;
}
/******************************************************************************/
/*兑换说明窗口样式*/
.exchangeExplainWin{
	background-image: url(../img/dhsm.png);
	background-repeat: no-repeat;
	background-position: center 32px;
}
.exchangeExplainWin > .exchangeExplainBox{
	margin-top: 102px;
	padding-left: 300px;
}
.exchangeExplainBox > li{
}
.exchangeExplainWin > .enterBtn{
	width: 100%;
	height: 100px;
	background-image: url(../img/but_p.png);
	background-size: 204px 100px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	bottom: 20px;
}
.exchangeExplainBox > li > *{
	display: inline-block;
	background-repeat: no-repeat;
	background-position: bottom;
	vertical-align: top;
}
.awardTitle{
	width: 102px;
	height: 101px;
	background-image: url(../img/jpbg.png);
	background-size: 100%;
	position: relative;
}
.awardTitle > div{
	width: 100px;
	max-height: 76px;
	position: absolute;
	left: 0px;
	bottom: 20px;
}
.awardTitle > div > img{
	display: block;
	max-width: 100px;
	max-height: 76px;
	margin: auto;
}
.awardTitle > span{
	box-sizing: border-box;
	padding: 0 6px 0 13px;
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 2px 1px #000;
	position: absolute;
	bottom: 13px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.exchangeExplainBox > li > .needCardItem{
	width: 95px;
	height: 92px;
	background-image: url(../img/card.png);
	background-size: 76px 96px;
	background-position: 8px top;
	position: relative;
}
.needCardItem > img{
	width: 64px;
	height: 84px;
	border-radius: 4px;
	position: absolute;
	left: 16px;
	top: 4px;
}
.needCardItem > span{
	box-sizing: border-box;
	display: inline-block;
	width: 95px;
	height: 22px;
	line-height: 21px;
	padding-left: 12px;
	font-size: 16px;
	text-shadow: -1px 2px 1px #000;
	background-image: url(../img/slbg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	bottom: 0;
}
.exchangeExplainBox > li > i{
	width: 34px;
	height: 60px;
	background-image: url(../img/plus.png);
	background-size: 100%;
	background-size: 100%;
}
.exchangeExplainBox > li > i:first-of-type{
	background-image: url(../img/equal.png);
	margin: 0 22px;
}
.awardTitle + .needCardItem{
	margin-left: 73px;
}
/******************************************************************************/
/*活动说明窗口样式*/
.explainWin{
	background-image: url(../img/bg_success.png);
	background-size: 100%;
	background-position: center;
}
.explainWin > .explainBox{
	width: 660px;
	height: 411px;
	background-image: url(../img/box_explain.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 305px;
	top: 145px;
	overflow: hidden;
}
.explainBox p,
.explainBox span{
	color: #682700;
}
.explainBox > p{
	width: 464px;
	line-height: 24px;
	margin-left: 116px;
	margin-top: 110px;
	font-size: 16px;
}
.explainBox > p + p{
	margin-top: 0;
}
.explainBox > p:nth-child(6){
	width: 248px;
}
.ewmBox{
	width: 178px;
	height: 86px;
	background-image: url(../img/ewmbg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 374px;
	top: 254px;
}
.ewmBox > i{
	display: inline-block;
	width: 74px;
	height: 74px;
	background-image: url(../img/ewm.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	position: absolute;
	right: 6px;
	top: 6px;
}
.ewmBox > span{
	display: block;
	width: 93px;
	color: #682700;
	font-size: 14px;
	text-align: center;
	position: relative;
	left: 0;
	top: 22px;
}
.explainWin > .explainLogo{
	width: 100%;
	height: 280px;
	background-image: url(../img/hdsm.png);
	background-size: 540px 280px;
	background-position: 357px 3px;
	position: absolute;
}
.explainWin > .enterBtn{
	width: 100%;
	height: 140px;
	margin-top: 273px;
	background-image: url(../img/but_h.png);
	background-size: 294px 140px;
	background-position: center;
}
/******************************************************************************/
/*我的奖品窗口样式*/
.myAwardWin{
	background-image: url(../img/bg_success.png);
	background-size: 100%;
	background-position: center;
}
.myAwardWin > .exchangeLogBox{
	width: 660px;
	height: 411px;
	background-image: url(../img/box_explain.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;
	position: absolute;
	left: 305px;
	top: 145px;
	overflow: hidden;
}
#logContent{
	height: 192px;
	overflow: hidden;
	margin-left: 138px;
	margin-top: 100px;
}
.exchangeLogBox > div > p{
	width: 360px;
	line-height: 20px;
	margin-top: 2px;
	font-size: 15px;
}
.exchangeLogBox > div > p > span{
	display: inline-block;
	color: #682700;
}
.exchangeLogBox > div > p > span:nth-child(1){
	min-width: 108px;
}
.exchangeLogBox > div > p > span:nth-child(2){
	min-width: 106px;
}
.myAwardWin > .explainLogo{
	width: 100%;
	height: 280px;
	background-image: url(../img/wdjp.png);
	background-size: 540px 280px;
	background-position: 357px 3px;
}
.myAwardWin > .enterBtn{
	width: 100%;
	height: 140px;
	margin-top: 273px;
	background-image: url(../img/but_h.png);
	background-size: 294px 140px;
	background-position: center;
}
/******************************************************************************/
/*抽奖窗口样式*/
.drawWin{
	background-image: url(../img/bg_success.png);
	background-size: 100%;
	background-position: center;
}
.drawWin > .drawBox{
	width: 637px;
	height: 422px;
	background-image: url(../img/bg_box.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 314px;
	top: 119px;
}
.drawWin > .drawLogo{
	width: 100%;
	height: 269px;
	background-image: url(../img/gxhd.png);
	background-size: 540px 269px;
	background-position: 357px 0;
}
.drawWin > .cardBtn{
	width: 100%;
	height: 140px;
	margin-top: 273px;
	background-image: url(../img/but_see_h.png);
	background-size: 345px 158px;
	background-position: center;
}
/****************** 763px***************************************************/
/*卡牌样式*/
.cardItem > div{
	width: 186px;
	height: 244px;
	background-image: url(../img/game.png);
	background-size: 100%;
	position: absolute;
	left: 226px;
	top: 82px;
}
.cardItem > div > span{
	box-sizing: border-box;
	display: inline-block;
	width: 164px;
	height: 42px;
	line-height: 42px;
	padding: 0 6px;
	font-size: 25px;
	text-align: center;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	left: 15px;
	top: 185px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.cardItem > div > img{
	width: 164px;
	height: 220px;
	position: absolute;
	left: 15px;
	top: 6px;
	border-radius: 9px;
}
.cardItem > p{
	min-width: 306px;
	height: 48px;
	font-size: 28px;
	text-align: center;
	position: absolute;
	left: 104px;
	top: 352px;
}
.cardItem > p > span{
	vertical-align: super;
	text-shadow: -2px 2px 2px #40130d;
}
.cardItem > p > i{
	display: inline-block;
	width: 48px;
	height: 48px;
	margin-left: 16px;
	background-image: url(../img/star.png);
	background-size: 100%;
}
/******************************************************************************/
/*抽奖窗口样式*/
.noDrawWin{
	background-image: url(../img/girl.png);
	background-size: 343px 345px;
	background-position: 159px 59px;
}
.noDrawWin > .noDrawTips{
	width: 763px;
	height: 301px;
	background-image: url(../img/time2_v2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 446px;
	top: 52px;
}
.noDrawWin > .gameList{
	width: 100%;
	height: 244px;
	text-align: center;
	position: absolute;
	bottom: 34px;
}
.gameList > li{
	width: 186px;
	height: 244px;
	display: inline-block;
}
.gameList > li + li{
	margin-left: 34px;
}
.gameItem > div{
	width: 100%;
	height: 100%;
	background-image: url(../img/game.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.gameItem > div > img{
	width: 162px;
	height: 220px;
	border-radius: 8px;
	position: absolute;
	left: 16px;
	top: 6px;
}
.gameItem > div > span{
	width: 162px;
	height: 42px;
	line-height: 42px;
	font-size: 26px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	display: inline-block;
	background-color: rgba(0,0,0,.5);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	left: 16px;
	bottom: 16px;
}
.gameItem-h > div{
	width: 224px;
	height: 292px;
	left: -20px;
	top: -32px;
}
.gameItem-h > div > img{
	width: 195px;
	height: 264px;
	border-radius: 10px;
	position: absolute;
	left: 19px;
	top: 8px;
}
.gameItem-h > div > span{
	width: 195px;
	height: 51px;
	line-height: 51px;
	font-size: 32px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: inline-block;
	background-color: rgba(0,0,0,.5);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	left: 19px;
	bottom: 19px;
}

/******************************************************************************/
/*奖品数量不足窗口样式*/
.awardsEmpty{
	background-image: url(../img/tc03.png);
	background-size: 478px 284px;
	background-position: center 176px;
}










